@import 'grid';
@import 'animate';
$eventbrite-orange: #ff8000;
$eventbrite-orange-hover: #e57300;
$tick: white;

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
.button {
  font-size: 15px;
  border: 0;
  width: 80px;
  margin: 0 auto;
  border-radius: 7px;
  padding: 10px;
  background-color: $eventbrite-orange;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: $eventbrite-orange-hover;
  }
}

.win-overlay {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  .win-overlay-inner {
    text-align: center;
    position: relative;
    font-size: 10px;;
  }
}

.grid-wrapper {
  .grid {
    padding-top: 20px;
  }
  .tic-tac-toe-board {
    @include viewports(xlarge) {
      width: 1100px;
    }
    @include viewports(large) {
      width: 600px;
    }
    @include viewports(medium) {
      width: 500px;
    }
    @include viewports(small) {
      width: 70%;
    }
    margin: 0 auto;
    margin: 0 auto;
  }
  .tick {
    width: auto;
    position: relative;
    margin: 20px auto;
  }
  .tick:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  .tick {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: $eventbrite-orange;
    border-radius: 20px;
    position: relative;
    &:hover {
      cursor: pointer;
      background-color: $eventbrite-orange-hover;
    }
  }

  .inner-tick {
    color: $tick;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 100px;
  }
}
